<div class="author">
    <h1 class="author__heading">About us</h1>
  </div>
  

<!-- <img src="/img/student.jpeg" alt="person looking out through window" class="hero-image" width="981" height="528"> -->
<div class="author">
    <p class="author__body">learn and earn money with high programming skills from the comfort of your home,our academy is where you learn how to build scalable web apps from the start to the finish all by yourself
    we have setup a learning process that is suitable to anybody of any background to learn how to build web apps.  below are some the benefits of learning from us</p>
    <h4 class="article-ul">What are your requirement needed to learn how to code</h4>
    <p>just know how to read and write and with your one time registration fee and a laptop(compulsory)</p>
  </div>

  <section class="articles">
    <ul class="article-ul">What you get from us</ul>
    <ol><p>after learning you stand a chance to make money working for yourself or employer with a good pay 💰</p></ol>
    <ol><pi>For general class with everybody is #250k($161) but  #200k($130) for now because #50k($32) discount is on,
    While for one on one training (private mentorship, your own personal tutor) is #350k($226) but now #300k($194) for now because of ($32)#50k discount
    </pi></ol>
    <ol><p >Class last for 3 months and are held 4 times a week, (MONDAY TUESDAY, THURSDAY AND SATURDAY)</p></ol>
    <ol><pi > Everything has already be made super simple just come ready to learn 
         Classes are held online with zoom and Google meet and very soon on all our academy socials live video call</ol>
    <ol><p >physical classes coming soon for now on appointment because we dont have a physical office yet</p></ol>
    <ol><p >Installmental payments are allowed for registration but splited within 3months of learning</p></ol>
    <ol><p >We are responsible for your data subscribtion within the period of learning with us(3 months)
    </p></ol>
    <!-- <li><p class="author__body"></p></li>
    <li><p class="author__body"></p></li>
    <li><p class="author__body"></p></li> -->
  </section>
  



  <!-- learn and earn money with high paying tech skills from the comfort of your home 

ABOUT OUR ACADEMY
pmarcel academy is where u learn how to build scalable web apps from the start to the finish all by yourself 

WHAT YOU GET
I have setup a learning process that is suitable to anybody of any background to learn how to build web apps.  below are some the benefits of learning from me 

* You learn complete computer languages to build  website  of your choice 
HTML, CSS, JAVASCRIPT NODEJS (for backend)

* Do you need any basic to knowledge to start ? No, just know how to read and write and with your one time registration fee
* after learning you stand a chance to make money working for yourself or employer with a good pay 💰
* For general class with everybody is #250k but  #200k for now because #50k discount is on 
While for one on one training (private mentorship) is #350k but #300k for now because of #50k discount
* you will get certificate of completion from us 
* Class last for 3 months and are held 4 times a week, (MONDAY TUESDAY, THURSDAY AND SATURDAY)
* Everything has already be made super simple just come ready to learn 
* Classes are held online with zoom and Google meet 
* physical classes coming soon for now on appointment
* Installmental payments are allowed for registration but splited within 3months
* it will be fun 😊 while learning 

FOR QUESTIONS OR REGISTRATION 👉
contact us at +234814607865, +2348135780838

Email: pmarcelacademy@gmail.com -->