
<div class="author">
    <h1 class="author__heading">contact.</h1>
    <p class="author__body">FOR QUESTIONS OR REGISTRATION 👇</p>
  </div>

  
  <section class="articles">
    <ul class="article-ul">
        <ol>call<p class="author__body">08135780838</p></ol>
        <ol>whatsapp:<a href="https://wa.me/qr/IY4KWL7D62RFC1" class="author__body" style="text-decoration: none;">Click me</a></ol><br>
        <ol>Academy whatsapp group:<a href="https://chat.whatsapp.com/C43YSASlNwiBAR1zVoVUjK" class="author__body" style="text-decoration: none;">click me</a></ol><br>
        <ol>Email us:<a href="mail:pmarcelacademy@gmail.com" class="author__body" style="text-decoration: none;">Click me</a></ol>
    </ul>
  </section>
